.noDec {
	text-decoration: none;
	color:inherit;
}

.top-menu {
    top: 0;
    height: 5rem;
    background-color: #003399;
    z-index: 2;
    width:100%;
    position: fixed;
}

.menu ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    width:25%;
    float: left;
    text-align: center;
}

.menu li a {
    width:80%;
    display: inline-block;
    list-style-type: none;
    color: white;
    text-align: center;
    padding: 1.5rem 11%;
    text-decoration: none;
    background-size: 100% 200%;
    background-image: linear-gradient(to top, #ff9933 50%, #333 50%);
    -webkit-transition: background-position .5s;
    -moz-transition: background-position .5s;
    transition: background-position .5s;
}

.menu li a:hover {
    background-position: 0 100%;
    cursor:pointer;
}

.listLinks {
	list-style-type: square;
}

.listLinks li {
	list-style-type: square;
	display: inline;
}

.listLinks li:before {
	content:'\ffed';
	margin-right:0.3em;
	margin-left: 0.7em;
}

.scap {
	width: 75%;
	height: auto;
}

.top {
	background-color: #0099ff;
	color:#fff;
	position:relative;
	height:30rem;
}

.footer {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.footer a{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.code {
	float:left;
	margin-left: 15rem;
	text-align: left;
	white-space: pre;
	font-family: "Courier New", Courier, monospace;
	line-height: .9;
	-webkit-tab-size: 2;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size:2;
	opacity: 0.5;
}

.darken {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

.darken img{
	/*display: block;*/
    -webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
	opacity: .5;
}

.darken:hover img {
	opacity: 1;
}

.section {
  padding: 8rem 0 7rem;
  text-align: center;
}

.smallLogo {
	height: 17rem;
	width:auto;
	border-radius: 10%;
}

.typed-cursor {
	-webkit-animation: blink 1s infinite;
	-moz-animation: blink 1s infinite;
	-ms-animation: blink 1s infinite;
	-o-animation: blink 1s infinite;
	animation: blink 1s infinite;
}

@-webkit-keyframes blink{
	0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
	0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-o-keyframes blink{
	0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@keyframes blink{
	0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
